

.background {
    background-color:orange;
}

.section {
    color: white;
    background-color: black;
    margin: auto;
    max-width: fit-content;
    border-radius: 13px;
    padding: .5%;
    margin-top: 1%;
}

.me {
    font-size: 6em;
    /* background: linear-gradient(-62deg, #eeeef9, transparent); */
    padding-left: 30%;
    font-family: fantasy;
    color: whitesmoke;
}

.information {
    color: white;
    background-color: black;
    max-width: fit-content;
    border-radius: 13px;
    padding: .5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5%;
    display: none;
}

/* .button {
    color: rgb(79, 65, 206);
    background-color: white;
    font-size: 2em;
    font-family: fantasy;
    padding: 5px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 1%;
    display: block;
} */

.button {
    font-size: 2em;
    font-family: fantasy;
    padding: 5px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 1%;
    display: block;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:red;
    background-color:white;
    text-align:center;
    position:relative;
}

.button:hover {
    cursor: pointer;
}

.section{
    display: none;
}

.button:hover + .section {
    display: block;
}

.me:hover + .information {
    display: block;
}

.me:hover {
    cursor: pointer;
}